<section id="sideBar">
    <img class="profile-image" src="img1.jpeg" >
    <h2 id="name">{{ name }}</h2>
    <hr />
    <section id="content">
      <section id="nav">
        <button class="navButton" routerLink="Sobre">Sobre</button>
        <button class="navButton" routerLink="Projetos">Projetos</button>
        <button class="navButton" routerLink="Formacoes">Formação</button>
        <button class="navButton" routerLink="Experiencias">Experiencias</button>
      </section>
      <hr />
      <section id="contato">
        <h3 class="title">Contato</h3>
        <ul>
          <li>{{ email }}</li>
          <li>{{ numero }}</li>
        </ul>
      </section>
    </section>
  </section>
  