<section id="content">
    <h2>Experiência</h2>
    <hr />
    <h3>SPI - integração de Sistemas</h3>
    <p>
      Atuação na area de Desenvolvimento e Implementação de Softwares industriais
      e Integração/Implementação de Sistemas
    </p>
    <h4>Cargos</h4>
    <ul>
      <li>Técnico em Programação (Set/2022 - out/2023)</li>
      <li>Programador de Software (out/2023 - Atual)</li>
    </ul>
    <h3>Skills</h3>
    <h4>Soft Skills</h4>
    <ul>
      <li>Engenharia de Software</li>
      <li>Desenvolvimento em Equipe</li>
      <li>Padronização de Software</li>
      <li>Comunicação com Cliente</li>
      <li>Metodologias de Desenvolvimento</li>
    </ul>
    <h4>Hard Skills</h4>
    <ul>
      <li>{{ hardSkill[0] }}</li>
      <li>{{ hardSkill[1] }}</li>
      <li>{{ hardSkill[2] }}</li>
      <li>{{ hardSkill[3] }}</li>
    </ul>
  </section>
  