.title {
    margin-left: 10%;
  }
  
  h1,
  h2,
  h3,
  li {
    color: whitesmoke;
  }
  p {
    color: white;
    margin-left: 2%;
    text-align: left;
    word-break: break-word;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  